# Environment
.env
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Distribution/packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# System Files
.DS_Store
